{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color:burlywood; color: white; margin: 10px -100px 30px -100px;">
    <h1>one minute PITCH </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-lg">
                <h3 style="color: burlywood;" class="text-center">Interview Pitches</h3>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><a href="{{url_for('main.interview')}}" class="btn -center" style="background-color: burlywood; color:white;"></a></div>
                  <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-lg">
                <h3 style="color:burlywood;" class="text-center">Product Pitches</h3>
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><a href="{{url_for('main.product')}}" class="btn -center" style="background-color: burlywood; color:burlywood;"></a></div>
                  <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-md-6">
        <div class="well well-lg">
            <h3 style="color:whitesmoke;" class="text-center">Pickup  Pitches</h3>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><a href="{{url_for('main.pickup')}}" class="btn -center" style="background-color: blanchedalmond; color: white;"> </a></div>
              <div class="col-md-4"></div>

              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="panel style="style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px;">
                    <p style="font-family: 'Bellefair', serif; font-size:20px;">The pitch of a sound is the ear and brain interpreting the frequency of the sound. When there is a high frequency, the ear interprets the sound as a higher pitch, and when the frequency is low, the ear hears a low pitch. Pitch has been standardized and uses "cents" as a unit of measurement.</p>
                    
                    
        </div>
    </div>
  </div>
</div>
{%endblock%}